

  /***********************************************************************
                      GRIDS CSS
***************************************************************************/

/* Especificacion de las areas principales de la pagina */

/*
        _________________________
        |         HEADER          |
        _________________________
        |SIDEBAR|       MAIN      |
        __________________________
        |          FOODER         |
        __________________________

*/
/*--------------------------------------*/
.grid-1 {
 display: grid;
 background: white;
 grid-row-gap: 100px;
 grid-template-areas:    "header header header"
                         "sidebar main main"                                   
                         "footer footer footer";
}

/* Areas del grid principal */

.area-1 {
	grid-area: header;
  margin-top: 100px;
}

.area-2 {
  grid-area: sidebar;
 
}
.area-3 {
	grid-area: main;

}
.area-4 {
  grid-area: footer;

}
/*--------------------------------------*/

/*--------------------------------------*/
/* Divide en filas el contenido, separando en cuadros las categorias de los formularios*/
.grid-2 {
  display: grid;
  grid-gap: 50px;
  background-color: white;
  padding: 50px;
  }

/* Items*/
.grid-2>div {
  background-color: #F5F5F5;
  padding:20px 0;

}

.item-grid-2-border{ /*Define el margen entre el texto y el contenedor de informacion*/

  margin-top: 10px; 
  margin-left: 90px; 
  margin-right: 90px; 
  margin-bottom: 10px; 
}
/*--------------------------------------*/

/*--------------------------------------*/
/*grid para definir columnas*/
.grid-columns {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  }

.item-span-two{
    grid-column: span 2;
}

.item-span-three{
    grid-column: span 3;
}
/*--------------------------------------*/

  /*--------------------------------------*/
  /*grid para definir filas*/
  .grid-rows {
      display: grid;
      grid-gap: 50px;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
  }

  .item-span-two-row{
      grid-row: span 2;
  }

  .item-span-three-row{
      grid-row: span 3;
  }
  /*--------------------------------------*/

  /***********************************************************************
                      Estilos de los forms
***************************************************************************/

  /* Estilos para los grids de columnas de 3*/
.form-area {
  width  : 280px;
}

.form-area-number {
    width  : 280px;
    height: 35px;
  }

.form-area-two {
    width  : 600px;
  }

  .form-area-three {
    width  : 900px;
  }

  /* Estilos para los grids filas*/
  .form-area-row {
      width  : 550px;
  }

  .form-area-number-row {
      width  : 550px;
      height: 40px;
  }


  /***********************************************************************
                              Mensajes
***************************************************************************/
  .required{
      color: #fd9927;
      font-weight: bold;
  }

  .error{
      color: red;
  }

  .estiloError {
    color: red;
    animation: estiloError 7s linear forwards;
      -webkit-animation: estiloError 7s linear forwards;      
  }
  
  @keyframes estiloError {
    0% { opacity: 0; }
    2% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
  }
  
    @-webkit-keyframes estiloError {
  
    0% { opacity: 0; }
    2% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
  
  }

  /***********************************************************************

                            Botones

  *********************************************************************** */

  .button-just{
      background: white;
      color:  #43a952;
      font-weight: bold;
      width  : 280px;
      height: 60px;
  }

  .button-comp{
      background: #43a952;
      color:  white;
      font-weight: bold;
      width  : 280px;
      height: 60px;
  }

  .accordion {
      background-color: #b6e1e0;
      color: #444;
      cursor: pointer;
      cursor: pointer;
      border: 0;
      padding: 18px;
      outline:none;
      text-align: left;
      font-size: 15px;
      height: 150px;
      weight: 250px;
  }

  .input-file{
      border: darkgray;
      background-color: #b6e1e0;
      weight: 250px;
  }

  /************************************************************************

                        Alineaciones

  ********************************************************************** */

  .right{
      text-align: right;
      margin-right: 80px;
  }


  /******************************************************************

                        type = "number"

  **************************************************************** */

  /* For Firefox */
  input[type='number'] {
      -moz-appearance:textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }