

  /***********************************************************************
                      GRIDS CSS
***************************************************************************/

/* Especificacion de las areas principales de la pagina */

/*
        _________________________
        |         HEADER          |
        _________________________
        |SIDEBAR|       MAIN      |
        __________________________
        |          FOODER         |
        __________________________

*/
/*--------------------------------------*/
.grid-1 {
 display: grid;
 background: white;
    padding: 15px;
 grid-row-gap: 100px;
 grid-template-areas:    "header header header"
                         "sidebar main main"                                   
                         "footer footer footer";
}

/* Areas del grid principal */

.area-1 {
	grid-area: header;
  margin-top: 100px;
}

.area-2 {
  grid-area: sidebar;
}
  .area-2 > div {
      margin-left: 0px;
      text-align: left;

  }


.area-3 {
	grid-area: main;

}
.area-4 {
  grid-area: footer;



}
/*--------------------------------------*/

/*--------------------------------------*/
/* Divide en filas el contenido, separando en cuadros las categorias de los formularios*/

  .grid-2 {
  display: grid;
      margin-right: 10px;
  background-color: white;
  }
  /* Items*/
  .grid-2>div {
      background-color: #F5F5F5;
      padding: 20px;
      margin-left: 0px;
      margin-top: 0px;

  }
  .grid-3 {
      display: grid;
      grid-gap: 50px;
      background-color: white;
      padding: 50px;
  }
  /* Items*/
  .grid-3>div {
      padding:20px 0;

  }

.item-grid-2-border{ /*Define el margen entre el texto y el contenedor de informacion*/
    padding: 5px;
    margin-top: 0px;
}

  .item-grid-3-border{ /*Define el margen entre el texto y el contenedor de informacion*/
      padding: 50px;
      margin-top: 0px;
  }
/*--------------------------------------*/

/*--------------------------------------*/
/*grid para definir columnas*/
.grid-columns {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  }

.item-span-two{
    grid-column: span 2;
}

.item-span-three{
    grid-column: span 3;
}
/*--------------------------------------*/

  /*--------------------------------------*/
  /*grid para definir filas*/
  .grid-rows {
      display: grid;
      grid-gap: 50px;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
  }

  .item-span-two-row{
      grid-row: span 2;
  }

  .item-span-three-row{
      grid-row: span 3;
  }
  /*--------------------------------------*/

  /***********************************************************************
                      Estilos de los forms
***************************************************************************/

  /* Estilos para los grids de columnas de 3*/
.form-area {
  width  : 280px;
}

.form-area-number {
    width  : 280px;
    height: 35px;
  }

.form-area-two {
    width  : 600px;
  }

  .form-area-three {
    width  : 900px;
  }

  /* Estilos para los grids filas*/
  .form-area-row {
      width  : 550px;
  }

  .form-area-number-row {
      width  : 550px;
      height: 40px;
  }


  /***********************************************************************
                              Mensajes
***************************************************************************/
  .required{
      color: #fd9927;
      font-weight: bold;
  }

  .error{
      color: red;
  }

  .estiloError {
    color: red;
    animation: estiloError 7s linear forwards;
      -webkit-animation: estiloError 7s linear forwards;      
  }
  
  @keyframes estiloError {
    0% { opacity: 0; }
    2% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
  }
  
    @-webkit-keyframes estiloError {
  
    0% { opacity: 0; }
    2% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
  
  }

  /***********************************************************************

                            Botones

  *********************************************************************** */

  .button-just{
      background: white;
      color:  #43a952;
      font-weight: bold;
      width  : 280px;
      height: 60px;
  }

  .button-comp{
      background: #43a952;
      color:  white;
      font-weight: bold;
      width  : 280px;
      height: 60px;
  }

  .button-search{
      margin-top: 0px;
      background: dodgerblue;
      color:  white;
      font-weight: bold;
      width  : 180px;
      height: 35px;
  }

  .accordion {
      background-color: #b6e1e0;
      color: #444;
      cursor: pointer;
      cursor: pointer;
      border: 0;
      padding: 18px;
      outline:none;
      text-align: left;
      font-size: 15px;
      height: 150px;
      weight: 250px;
  }

  .input-file{
      border: darkgray;
      background-color: #b6e1e0;
      weight: 250px;
  }

  .search {
      font-family:Verdana,Helvetica;
      font-size:12pt;
      width: 500px;
      color:#696969;
      padding: 5px 7px 5px 7px;
      border:1px solid darkgray;
      background:#FFF;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 15px;
  }

  /************************************************************************

                        Alineaciones

  ********************************************************************** */

  .right{
      text-align: right;
      background-color: white;
      margin-right: 80px;
  }


  /******************************************************************

                        type = "number"

  **************************************************************** */

  /* For Firefox */
  input[type='number'] {
      -moz-appearance:textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /******************************************************************

                    Notificaciones


  ************************************************************* */

  .alert {
      padding: 0.75rem 1.25rem;
      text-align: center;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      height: 80px;
      position: absolute;
      right: 30px;
      width: 500px;
  }


  .alert-heading {
      color: inherit;
  }

  .alert-link {
      font-weight: bold;
  }

  .alert-dismissible .close {
      position: relative;
      top: -0.75rem;
      right: -1.25rem;
      padding: 0.75rem 1.25rem;
      color: inherit;
  }

  .alert-success {
      background-color: #dff0d8;
      border-color: #d0e9c6;
      color: #3c763d;
  }

  .alert-success hr {
      border-top-color: #c1e2b3;
  }

  .alert-success .alert-link {
      color: #2b542c;
  }

  .alert-info {
      background-color: #d9edf7;
      border-color: #bcdff1;
      color: #31708f;
  }

  .alert-info hr {
      border-top-color: #a6d5ec;
  }

  .alert-info .alert-link {
      color: #245269;
  }

  .alert-warning {
      background-color: #fcf8e3;
      border-color: #faf2cc;
      color: #8a6d3b;
  }

  .alert-warning hr {
      border-top-color: #f7ecb5;
  }

  .alert-warning .alert-link {
      color: #66512c;
  }

  .alert-danger {
      background-color: #f2dede;
      border-color: #ebcccc;
      color: #a94442;
  }

  .alert-danger hr {
      border-top-color: #e4b9b9;
  }

  .alert-danger .alert-link {
      color: #843534;
  }


  /******************************************************************

                  SELECT / COMBOBOX


************************************************************* */
  .select {
      border: 1px solid #ccc;
      width: 200px;
      overflow: hidden;
      background: #fff url("http://www.csslab.cl/ejemplos/select/arrowdown.gif") no-repeat 90% center;
  }
  .select select {
      border: none;
      width: 200px;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }

  /******************************************************************

                  MENU


************************************************************* */


  #fontSizeWrapper { font-size: 16px; }

  #fontSize {
      width: 100px;
      font-size: 1em;
  }

  /* ————————————————————–
    Tree core styles
  */
  .tree { margin: 1em; }

  .tree input {
      position: absolute;
      clip: rect(0, 0, 0, 0);
  }

  .tree input ~ ul { display: none; }

  .tree input:checked ~ ul { display: block; }

  /* ————————————————————–
    Tree rows
  */
  .tree li {
      line-height: 1.2;
      position: relative;
      list-style:none;
      padding: 0 0 1em 1em;
  }

  .tree ul li { padding: 1em 0 0 1em;
      list-style:none;

  }

  .tree > li:last-child { padding-bottom: 0;
      list-style:none;}

  /* ————————————————————–
    Tree labels
  */
  .tree_label {
      position: relative;
      display: inline-block;
      background: #fff;
      display: block;
  }

  label.tree_label { cursor: pointer; display: block;}

  label.tree_label:hover { color: #666; display: block;}

  /* ————————————————————–
    Tree expanded icon
  */
  label.tree_label:before {
      background: #85c1e9;
      color: #fff;
      position: relative;
      display: block;
      z-index: 1;
      float: left;
      margin: 0 1em 0 -2em;
      width: 1em;
      height: 1em;
      border-radius: 1em;
      content: '+';
      text-align: center;
      line-height: .9em;
  }

  :checked ~ label.tree_label:before {
      content: '–';
      display: block;
  }

  /* ————————————————————–
    Tree branches
  */
  .tree li:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -.5em;
      display: block;
      width: 0;
      list-style:none;
      border-left: 1px solid #777;
      content: "";
  }

  .tree_label:after {
      position: absolute;
      top: 0;
      left: -1.5em;
      display: block;
      height: 0.5em;
      width: 1em;
      border-bottom: 1px solid #777;
      border-left: 1px solid #777;
      border-radius: 0 0 0 .3em;
      content: '';
  }

  label.tree_label:after { border-bottom: 0; }

  :checked ~ label.tree_label:after {
      border-radius: 0 .3em 0 0;
      display: block;
      border-top: 1px solid #777;
      border-right: 1px solid #777;
      border-bottom: 0;
      border-left: 0;
      bottom: 0;
      top: 0.5em;
      height: auto;
  }

  .tree li:last-child:before {
      height: 1em;
      list-style:none;
      bottom: auto;
  }

  .tree > li:last-child:before { display: none;
      list-style:none;}

  .tree_custom {
      display: block;
      background: #eee;
      padding: 1em;
      border-radius: 0.3em;
  }